*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.wrapper
{
    position: fixed;
    padding: 10px;
    inset: 0;
    margin: auto;
    border: 5px rgba(0, 0, 0, 0.17) dotted;
    display: flex;
    height: 100%;
    width:400px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 2%;
}

h1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}
.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:space-between;
    height: 400px;
    width: 400px;
    position: relative;;
    inset: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(46, 43, 43);    
}

.box
{
    background-color: rgb(230, 255, 255);
    width: 32.2%;
    height: 32.2%;
    overflow: hidden;
    position: relative;
}

.player
{
    height: 10%;
    width:  100%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgb(255, 209, 209);
    color:rgb(90, 50, 222);
    font-size: 30px;
    padding-top: 1rem;
    font-weight: 600;
}

.start
{
    height: 10%;
    width:  75%;
    padding-top: 1rem;
    border: 2px solid black;
    font-size: 2rem;
    font-weight: 800;
    background-color: green;
    color: antiquewhite;
    border-radius: 15px;
}

.box img
{
    height:  75%;
    width: 75%;
    display: none;
    object-fit: fill;
    margin: auto;
    position: absolute;
    inset: 0px;
}


